@tailwind base;
@tailwind components;
@tailwind utilities;

/* Additional styles */
@import './utility-patterns.css';

@layer utilities {
      /* Hide scrollbar for Chrome, Safari and Opera */
      .no-scrollbar::-webkit-scrollbar {
          display: none;
      }
     /* Hide scrollbar for IE, Edge and Firefox */
      .no-scrollbar {
          -ms-overflow-style: none;  /* IE and Edge */
          scrollbar-width: none;  /* Firefox */
    }
  }
.dark {
    color-scheme: dark;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #a0a0a0 #ffffff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 4px;
}

*::-webkit-scrollbar-track {
    background: transparent;
}

*::-webkit-scrollbar-thumb {
    background-color: #a0a0a0;
    border-radius: 7px;
    border: 2px solid #a0a0a0;
}

html {
    font-family: var(--font);
}


.chat-container {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 60px); /* Adjust 60px if the header is a different height */
  overflow: hidden; /* Prevent scrolling on the chat container */
}

.messages-container {
  flex-grow: 1;
  overflow-y: auto; /* Only the messages area is scrollable */
  padding: 1rem; /* Add padding if necessary */
}

.input-container {
  padding: 1rem; /* Add padding if necessary */
}


.css-fix {
  white-space: pre-line; /* or pre-line */
}

.textarea-button-wrapper {
  position: relative;
}

.send-button {
  position: absolute;
  bottom: 0;
  right: 0;
  /* Additional styles to ensure proper alignment and appearance */
}


/* globals.css */
:root {
    --font: var(--font-inter);
}

html, body {
    font-family: var(--font), sans-serif;
}
